.status-container {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.icon {
    font-size: 20px;
    padding-right: 5px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr:hover {
    background-color: aliceblue;
}